/* src/App.css */
body,
.btn,
button {
  font-family: 'Kanit', sans-serif;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #fefefe;
  border: 1px solid #ccc;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
}

button {
  padding: 10px;
  width: 100%;
  background: teal;
  color: white;
  border: none;
  cursor: pointer;
}

.bd-bottom {
  border-bottom: 1px solid gray;
}

.app_row {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app_row_h2 {
  margin-left: 10px;
}

.app_row_icon {
  margin-right: 10px;
}

/* 
.bd {
  border: black 1px solid;
} */

.mg-5 {
  margin: 5%;
}

.pd-2 {
  padding: 2%;
}

.balance_flex_container {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  padding: 5px;
}

.balance_content_st {
  height: 100px;
  width: -webkit-fill-available;
  padding: 8px 12px;
  margin: 1.5%;
  border-radius: 5px;
}

.income_st {
  background-color: #2b832b;
  color: white;
}

.expense_st {
  background-color: #e50800;
  color: white;
}

.total_st {
  background-color: #bdb939;
  color: white;
}

/* .btn{
  font-family: 'Kanit';
} */

.add_trn_form {
  display: inline-grid;
  justify-items: flex-start;
  width: 100%;
}

.add_trn_form_div {
  width: 95%;
}

.add_trn_btn_add {
  background-color: #5dbf5d;
}

.trn_list_li {
  margin: 10px 0px 10px 0px !important;
}